<div class="csslisting"><div class="floatbox"><a href="image.html?src=<!--@image-->&height=450&alt=<!--@alt-->"><img src="<!--@image-->" width="200" border="0" /></a>

</div><p><b><!--@title--></b><br /><!--@description--><br/> 
Autor: <!--@author--><br/>
Repositório: <a href="<!--@repository-->"><!--@repository--></a><br/>
Semestre: <!--@semester--><br/>
</p></div>